<!DOCTYPE html>
<html>
<head>
	<title> Annie Dreyer Midterm Website </title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">

</head>

<body>

	<header>
			<a href="../index.html"> <img src="../media/AnnieDreyer_Logo.png" alt="Annie's Logo" width="108px" height="67px"> </a>
		<nav>
			<a href="../templates/contact.html">Contact</a>
			<a href="about.html">About</a>
			<a href="../index.html">Portfolio</a>
		</nav>
	</header>

	<div id="aboutme">
		<img src="../media/about_me.jpg" alt="Annie's profile picture" width="290px" height="437px" class="img-frame">
		<div class="text">
			<h1> Hi, I'm Annie! </h1>
			<p> I am in my third year at Fordham University, Lincoln Center in New York City. I am currently pursuing a double major in New Media and Digital Design with a concentration in New Media and Commerce and Visual Arts.
			</p>
		</div>
	</div>


</body>

</html>