<!DOCTYPE html>
<html>
<head>
	<title> Annie Dreyer Midterm Website </title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/contact.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">

</head>

	<header>
			<a href="../index.html"> <img src="../media/AnnieDreyer_Logo.png" alt="Annie's Logo" width="108px" height="67px"> </a>
		<nav>
			<a href="../templates/contact.html">Contact</a>
			<a href="../templates/about.html">About</a>
			<a href="../index.html">Portfolio</a>
		</nav>
	</header>

	<h1> Get in touch! </h1>

	<div id="row"> 
		<img src="../media/icon_email.png" alt="email icon" width="100px" height="100px">
		<a href="mailto:annieedreyer@gmail.com"> <span> annieedreyer@gmail.com </span> </a>
	</div>

	<div id="row"> 
		<img src="../media/icon_instagram.png" alt="instagram icon" width="100px" height="100px">
		<a href="http://instagram.com/anniedreyer"><span> @anniedreyer </span> </a>
	</div>

	<div id="row">
		<img src="../media/icon_pinterest.png" alt="pinterest icon" width="100px" height="100px">
		<a href="http://pinterest.com/anniedreyer"><span> @AnnieDreyer </span> </a>
	<!-- </div> -->

</body>

</html>